!gradle-wrapper.jar
*.ap_
*.apk
*.class
*.dex
*.ear
*.iml
*.iws
*.jar
*.log
*.war
.DS_Store
.gradle
.gradle/
.gradletasknamecache
.idea/
.idea_modules/
.mtj.tmp/
.navigation/
/build
/captures
/local.properties
/out/
atlassian-ide-plugin.xml
bin/
build/
captures/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties
gen/
gradle-app.setting
hs_err_pid*
local.properties
out/
proguard/
tasks.xml
workspace.xml
