!gradle-wrapper.jar
*.ap_
*.apk
*.class
*.dex
*.ear
*.iml
*.iws
*.jar
*.log
*.war
.DS_Store
.gradle
.gradle/
.gradletasknamecache
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dictionaries
.idea/dynamic.xml
.idea/gradle.xml
.idea/jsLibraryMappings.xml
.idea/libraries
.idea/mongoSettings.xml
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea_modules/
.mtj.tmp/
.navigation/
/.idea/libraries
/.idea/workspace.xml
/build
/captures
/local.properties
/out/
atlassian-ide-plugin.xml
bin/
build/
captures/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties
gen/
gradle-app.setting
hs_err_pid*
local.properties
out/
proguard/
tasks.xml
workspace.xml
