<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false"
        android:theme="@style/OmiseTheme">
        <activity android:name=".PaymentResultActivity" android:launchMode="singleTask" android:exported="true">
            <intent-filter android:label="Payment Result">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="omise.co"
                    android:path="/authorize_return"
                    android:scheme="sampleapp" />
            </intent-filter>
        </activity>
        <activity android:name=".CheckoutActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PaymentSettingActivity"
            android:parentActivityName=".CheckoutActivity" /> <!-- Omise SDK Activities -->
        <activity android:name="co.omise.android.ui.CreditCardActivity" />
        <activity android:name="co.omise.android.ui.AuthorizingPaymentActivity" />
        <activity android:name="co.omise.android.ui.PaymentCreatorActivity" />
        <activity android:name="co.omise.android.ui.GooglePayActivity" />
        <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true" />
    </application>

</manifest>