<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.omise.android.example">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- card.io support -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/OmiseTheme">

        <activity
            android:name=".CheckoutActivity"
            android:label="@string/activity_checkout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PaymentSettingActivity"
            android:label="@string/activity_payment_setting" />

        <!-- Omise SDK Activities -->
        <activity android:name="co.omise.android.ui.CreditCardActivity"/>
        <activity android:name="co.omise.android.ui.AuthorizingPaymentActivity" />
        <activity android:name="co.omise.android.ui.PaymentCreatorActivity" />
    </application>

</manifest>
