<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.omise.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ui.AuthorizingPaymentActivity"
            android:theme="@style/OmiseTheme" />
        <activity
            android:name=".ui.CreditCardActivity"
            android:theme="@style/OmiseTheme" />
        <activity
            android:name=".ui.PaymentCreatorActivity"
            android:theme="@style/OmiseTheme" />
    </application>
</manifest>
